.custom-btn {
    color: #fff;
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.99);
}

.btn-group>a {
    color: #fff;
}

.link-hover:hover {
    font-weight: bold;
    color: #fff;
    transition: all ease 0.5s;
    background: bg-primary;
}

.navbar-nav .nav-link {
    padding-left: .5rem;
}

.navbar-nav a {
    color: #E5E5E5;
    transition: all ease 0.5s;
}

.navbar-nav a:hover,
.navbar-nav a:focus,
.navbar-nav a:active,
.navbar-nav a.hilite {
    font-weight: bold;
    color: #BFBFBF;
    border-bottom: 1px rgba(3, 22, 51, 1);
    background: rgb(2, 0, 36);
    background: linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, rgba(3, 22, 51, 1) 0%, rgba(13, 110, 253, 0) 100%);
}

/* ===== == = === 48em (768px) === = == ===== */
@media only screen and (min-width : 48em) {

    .navbar-nav a:hover,
    .navbar-nav a:focus,
    .navbar-nav a:active,
    .navbar-nav a.hilite {
        transform: translateY(0.2rem) scaleY(1.2)scaleX(1.2);
    }

    .navbar-nav .nav-link {
        padding-left: 0;
    }

    .link-hover:hover {
        transform: translateY(0.2rem) scaleY(1.2);
    }
}