Loading...<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta name="description" content="Music collection exploration">
    <meta name="author" content="Mart Zwart">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='icons/vinyl-record.svg') }}">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <!-- Manifest -->
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}" />
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- Bootsrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <!-- Include HTMX library -->
    <script src="https://cdn.jsdelivr.net/npm/htmx.org/dist/htmx.min.js"></script>
    <!-- Worker -->
    <script type="module" src="{{ url_for('static', filename='app.js') }}"></script>

    <!-- Custom styles for the home screen -->
    <style type="text/css">

    </style>

    {% if title %}
        <title>Music Collection Explorer - {{ title }}</title>
    {% else %}
        <title>Music Collection Explorer</title>
    {% endif %}
</head>

<body>
    <header class="site-header">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
          <a href="/"><img src="/static/icons/vinyl-record.svg" style="float: left; padding: 0px 5px 0px 0px;" width="64" heigh="64"></a>
          <button class="navbar-toggler" style="margin-right:5px !important;" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggle">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="/Configuration">Configuration</a>
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav ms-auto">
              <a class="nav-item nav-link" href="/config"><i class="fa-solid fa-gear"></i></a>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="container" style="margin-top: 55px;">
      <div class="row">
        <div class="col-md-12">
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
              <div class="alert alert-{{ category }}">
                {{ message }}
              </div>
              {% endfor%}
            {% endif %}
          {% endwith %}
          {% block content %}{% endblock %}
        </div>
        </div>
      </div>
    </main>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
</body>
</html>